# ---------- Node ----------
node_modules/
.next/
out/

# ---------- Python ----------
venv/
api/venv/
__pycache__/
*.py[cod]
uploads/

# ---------- Environment ----------
.env
.env.local

# ---------- IDE ----------
.vscode/
.idea/

# ---------- OS ----------
.DS_Store
Thumbs.db

sample-images/
uploads/